$primary-color-dark:   #222049;
$primary-color:        #4c4a73;
$primary-color-light:  #cfd8dc;
$primary-color-text:   #fff;
$accent-color:         #279090;
$accent-color-light:   #d1f5f5;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #bdbdbd;
$bg-color:             #f5f5f5;
